<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/deposite.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../bootstrap-icons-1.8.3/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    
  
      
</head>

<body>
    <section class="over-all">
<div class="header-sec-1">
    <div class="div-one xsq">

        <div class="logo-con">
            <img src="../asset/logos/LOGO2.jpeg" alt="" class="logo-img">
           </div>
        <i class="bi bi-text-paragraph"></i>
        <div class="xszz">
            <form action="" method="post">
                <input type="text" name="" id="search" placeholder="Search for...">
            </form>
            <i class="bi bi-search"></i>
        </div>
    </div>
<div class="div-teo xsq">
    <b> have question? <sub>contact info@GT-invest.com</sub></b>
    <de>
        <i class="bi bi-bell"></i>
        <h6>0</h6>
    </de>
    <de>
        <i class="bi bi-envelope"></i>
        <h6>1</h6>
    </de>
    <big>
        <img src="../asset/person/irina_bokova.jpg" alt="" class="profile">
    </big>
</div>
</div>

<section class="xmain-consa">
<div class="main-one-con">
    <ul class="ddf">
        <li> <i class="bi bi-bank"></i> <a href="dashboard.html" class="main-lef dsdf">dashboard</a></li>
        <li><i class="bi bi-ui-checks"></i><a href="" class="main-lef dsdf">  KYC verification</a></li>
        <span class="hidee-con">
        <li><i class="bi bi-wallet2"></i><a href="" class="main-lef dsdf">  account </a> <i class="bi bi-chevron-down"></i> </li>
            <div class="hiddenc">
                <li><a href="">deposite</a></li>
                <li><a href="">withdraw fund</a></li>
                <li><a href="">pending fund</a></li>
                
            </div></span>
            <span class="hidee-con">
            <li> <i class="bi bi-graph-up"></i> <a href="" class="main-lef dsdf">subscription plans</i> </a>  <i class="bi bi-chevron-down"></i></li>
                <div class="hiddenc">
                    <li><a href="">your active subscription plan</a></li>
                    <li><a href="">more subscription </a></li>
                    
                </div></span>
           <li><i class="bi bi-person"></i><a href="" class="main-lef dsdf">  service</a></li>
                <li><i class="bi bi-megaphone"></i><a href=""  class="main-lef dsdf"> notification </a></li>
                <span class="hidee-con">
                    <li><i class="bi bi-gear"></i> <a href="" class="main-lef dsdf"> setting   </a> <i class="bi bi-chevron-down"></i></li>
                            <div class="hiddenc">

                                <li><a href="">account sercurity</a></li>
                                <li><a href="">refer and earn </a></li>
                             
                                
                            </div>
                       </span>
            </ul>
</div>

<div class=" main-two-con">
    <div class="top-welcome">
        <h2 >Deposite <i class="bi bi-arrow-right"></i> Funds</h2>
        <h4 style="border-bottom: 1px solid rgb(196, 34, 34)">verify your account by submitting your KYC</h4>
    </div>
    <marquee behavior="scroll" direction="left"> welcome to GT-INVEST be free to conplain to us. on our customer service center for problem , our team will make sure to attend to it within 24hour</marquee>
    <div style="height: 100%; ">
        <main class="BALANCE">
            <div class="main-balace">
                <div class="main-main-w">
                    <span>all deposite</span>
                   <i class="bi bi-currency-dollar"></i>
                   <div class="bigx">
                           <h1 style="width: 100%;">USD<b>0.00</b></h1>
                   <strong>inactive deposite</strong>   
                   </div>
            
                </div>
            <div class="    insz">
            <h1>Select your perferred investment plan</h1>
            <div class="insz-con">
                <article> 
                    <a href="">
                            TRIAL PLAN
                    6% daily ROI for 1Day
                    Minimuin Deposite
                    $50.00
                    Maximum Deposite
                    $200.00
                    withdrawal instant 
                    </a>
                     
                </article>
                <article>
                    <a href="">
                                         BROZEN
3.5% daily ROI for 7Days
Minimuin Deposite
$100.00
Maximum Deposite
$1000.00
withdrawal instant
                    </a>
   
                </article>
                <article>
                    SILVER
5% daily ROI for 15Days
Minimuin Deposite
$1000.00
Maximum Deposite
$10000.00
withdrawal instant
                </article>
                <article>
                    <a href="">
                        GOLD
5% daily ROI for 30Days
Minimuin Deposite
$10000.00
Maximum Deposite
$5000000.00 or nill
withdrawal instant
                    </a>
                </article>
                <button class="check-s">
                    processd to amount
                </button>
            </div>
         </div>
        
          
        
        </div>
        </main>
        
    </div>
</div>
</section>
    </section>
</div>

    
    <script src="../js/dashboard.js"></script>
</body>
</html>

   

