<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <section class="sec-1">
        <div  class="sec-1-con" >

            <div class="notification"> <h1>beware of the information you input,  for security reason   and verifications.</h1></div>
        <form action="" method="post" class="main-form-sec-1">
        <div class="input">
           <select name="" id="">
               <option value="">Select User</option>
               <option value="">male </option>
               <option value="">female</option>
           </select>
        </div>
        <div class="input">
            <input type="text" placeholder="Amount">
        </div>
      
        <div class="submite-sec-1">
           <button type="submit" class="submit">Submit</button>
        </div>
        </form></div>
    </section>
</body>
</html>