<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/profile+acc.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../bootstrap-icons-1.8.3/bootstrap-icons.css">

    
  
      
</head>

<body>
    <section class="over-all">
<div class="header-sec-1">
    <div class="div-one xsq">

        <div class="logo-con">
            <img src="../asset/logos/LOGO2.jpeg" alt="" class="logo-img">
           </div>
        <i class="bi bi-text-paragraph"></i>
        <div class="xszz">
            <form action="" method="post">
                <input type="text" name="" id="search" placeholder="Search for...">
            </form>
            <i class="bi bi-search"></i>
        </div>
    </div>
<div class="div-teo xsq">
    <b> have question? <sub>contact info@GT-invest.com</sub></b>
    <de>
        <i class="bi bi-bell"></i>
        <h6>0</h6>
    </de>
    <de>
        <i class="bi bi-envelope"></i>
        <h6>1</h6>
    </de>
    <big>
        <img src="../asset/person/irina_bokova.jpg" alt="" class="profile">
    </big>
</div>
</div>
<section class="xmain-consa">
<div class="main-one-con">
    <ul>
        <li> <i class="bi bi-bank"></i> <a href="" class="main-lef">dashboard</a></li>
        <li><i class="bi bi-ui-checks"></i><a href="" class="main-lef">  KYC verification</a></li>
        <span class="hidee-con">
        <li><i class="bi bi-wallet2"></i><a href="" class="main-lef">  account </a> <i class="bi bi-chevron-down"></i> </li>
            <div class="hiddenc">
                <li><a href="../html/depsite.html">deposite</a></li>
                <li><a href="">withdraw fund</a></li>
                <li><a href="../html/pend_aproval-fund.html">pending fund</a></li>
                
            </div></span>
            <span class="hidee-con">
            <li> <i class="bi bi-graph-up"></i> <a href="" class="main-lef">subscription plans</i> </a>  <i class="bi bi-chevron-down"></i></li>
                <div class="hiddenc">
                    <li><a href="">your active subscription plan</a></li>
                    <li><a href="">more subscription </a></li>
                    
                </div></span>
           <li><i class="bi bi-person"></i><a href="" class="main-lef">  service</a></li>
                <li><i class="bi bi-megaphone"></i><a href=""  class="main-lef"> notification </a></li>
                <span class="hidee-con">
                    <li><i class="bi bi-gear"></i> <a href="" class="main-lef"> setting   </a> <i class="bi bi-chevron-down"></i></li>
                            <div class="hiddenc">
                                <li><a href="">profile</a></li>
                                <li><a href="">account sercurity</a></li>
                                <li><a href="">refer and earn </a></li>
                                
                                
                            </div>
                       </span>
            </ul>
</div>

<div class=" main-two-con">
    <main>

        <div class="main-two-con-child-one">
    
             <span>
            <img src="../asset/person/irina_bokova.jpg" alt="" height="150px">
        </span>
        <div class="main-two-con-child-one-we">
            <h3 style="font-weight: lighter;">nwabueze david</h3>
            <b style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">nwabueze12@gmail.com</b>
            <strong style="border-bottom: 2px solid white; padding-bottom:7px ;"> <a href=""><i class="bi bi-gear"></i> change your profile pic</a></strong>
        </div>
    
        </div>
        <div class="main-two-con-child-two">
            <div class="main-two-con-child-two-con-one">
                <form action="" method="get">
                    <big>
                       <span>
                        <label for="firstname">type:</label>
                       <select name="" id="">
                        <option value="">CHOOSE HERE</option>
                        <option value="btc">btc</option>
                        <option value="litcoin">litcoin</option>
                        <option value="btc-manual-deposte">btc-manual-deposte</option>
                       </select>
                    </span>
                    <span>
                        <label for="Amount">Amount</label>
                        <input type="text" id="Amount" placeholder="Amount">
                    </span>   
                    
                    </big>
                  
                 
                    <span>
                        <button>submite</button>
                    </span>
                </form>
            </div>
            <div class="main-two-con-child-two-con-two">
                <ul>
                    <a href="" class="link-hover">My profile</a>
                    <a href="">Payment account</a>
                    <a href="">sercurity</a>
                </ul>
            </div>
        </div>
    </main>
   
</div>
</section>
    </section>
</div>

    
    <script src="../js/dashboard.js"></script>
</body>
</html>

   

